<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <domain>student.rockhurst.int</domain>
  <distinguishedName>OU=2026,OU=Highly Managed,OU=Users,OU=Student.Greenlease,DC=student,DC=rockhurst,DC=int</distinguishedName>
  <csv>
	<headers>true</headers>
  </csv>
  <username>
	<regexFilter>[^-ñA-Za-z0-9-]</regexFilter>
	<alphatize>true</alphatize>
	<suffix>28</suffix>
  </username>
  <password>
	<generator>true</generator>
  </password>
</configuration>
